/* !doctype css */

html,body {
   background-color: blue;
   width: 1024px;
   height: 1024px;
   margin-top: 10px;
   margin-left: 0px;

}

div#sky-mb {
   display: inline-block;
   background-color: #171717;
   width: 80%;
   height: 80%;
   margin: 0;
   
}

.esfera-p {
   width: 128px;
   height: 128px;
   background-color: #FF5000;
   border-radius: 100%;
   animation: spin 100s infinite linear;
   border-left: 1px solid #171717;
   border-top: 1px solid #171717;
   border-bottom: 1px solid #171717;
   border-right: 1px solid #ff5000;
/* orbita */
   margin-top: 256px;
   margin-left: 256px;
   }
   .esfera-p img {
        animation: spin 100s infinite reverse linear;
        width: 100%;
        border-radius: 100%;
        
    }



    @keyframes spin {
        90% {
            transform: rotate(1turn);
        }
   }



.esfera-s {
   width: 64px;
   height: 64px;
   background-color: #55FF00;
   border-radius: 100%;
   animation: spin 50s infinite linear;
   border-left: 1px solid #171717;
   border-top: 1px solid #171717;
   border-bottom: 1px solid #171717;
   border-right: 1px solid #55ff00;
   
   margin-top: -100px;
   margin-left: 20px;
}
.eafera-s img {
   animation: spin 50s infinite reverse linear;
   width:100%;
   border-radius: 100%;

}
@keyframes spin {
        50% {
            transform: rotate(1turn);
        }
   }

.esfera-s1 {
   width: 64px;
   height: 64px;
   background-color: #55FF00;
   border-radius: 100%;
   animation: spin 50s infinite linear;
   border-left: 1px solid #171717;
   border-top: 1px solid #171717;
   border-bottom: 1px solid #171717;
   border-right: 1px solid #55ff00;
   
   margin-top: -200px;
   margin-left: -20px;
}
.eafera-s1 img {
   animation: spin 50s infinite reverse linear;
   width:100%;
   border-radius: 100%;

}
@keyframes spin {
        50% {
            transform: rotate(1turn);
        }
   }

.esfera-s-t {
   width: 40px;
   height: 40px;
   background-color: #0083FF;
   border-radius: 100%;
   animation: spin 31.25s infinite linear;
   border-left: 1px solid #171717;
   border-top: 1px solid #171717;
   border-bottom: 1px solid #171717;
   border-right: 1px solid #0083FF;
   
   margin-top: -100px;
   margin-left: 20px;
}
.esfera-s-t img {
   animation: spin 31.25s infinite reverse linear;
   width:100%;
   border-radius: 100%;

}
@keyframes spin {
        100% {
            transform: rotate(1turn);
        }
   }

.esfera-s-t-i {
   width: 2px;
   height: 2px;
   background-color: #FF001B;
   border-radius: 100%;
   animation: spin 1.56s infinite linear;
   border-left: 1px solid rgba(23, 23, 23, 1);
   border-top: 1px solid rgba(23, 23, 23, 1);
   border-bottom: 1px solid rgba(23 ,23 ,23 , 1); 
   border-right: 1px solid #FF001b;
   
   margin-top: -1px;
   margin-left: -5px;
}
.esfera-s-t-i img {
   animation: spin 1.56s infinite reverse linear;
   width:100%;
   border-radius: 100%;

}
@keyframes spin {
        100% {
            transform: rotate(1turn);
        }
   }